body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* cuts off overflowing width*/
  overflow-y: auto;  /*gives scroll bar when scrolling-switch to scroll to turn off*/
  font-family: 'Inter', sans-serif;
  background-color: #fbf3d7;
}

/*Header*/

.header{
  display: flex;
  position: sticky; /*sticks when scrolling */
  top: 0; /* Sticks to the top of the viewport when scrolled */
  justify-content: left; /* centers items horizontally */
  align-items: center;     /* centers items vertically */
  height: 10vh;           /* optional, to center items in full view height  or use px for pixels*/
  background-color: #fbf3d7;
  gap: 110vh;  /*gap between items in flexbox*/
  padding: 0 40px;
}

.bannerButtons{
  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center;     /* centers items vertically */
  gap: 7vh;  /*gap between items in flexbox*/
  padding: 0 40px;
}

.navLink{
  text-decoration: none;   /* removes default underline */
  color: #000;             /* or white if dark background */
  font-weight: 500;
  position: relative;      /* needed for underline animation */
  gap: 40vh;  /*gap between items in flexbox*/
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;            /* space below text */
  width: 0%;
  height: 2px;
  background-color: currentColor;  /* matches text color */
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

#homepageTitle{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 90vh;
  text-align: center;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
  flex-direction: column; /* Stacks children vertically */
  gap: 5px;
  margin-bottom: 25px; /* bottom gap */
  margin-top: 35px; /* top gap */ 
}

#name{
  font-size: 60pt;
  margin: 0;
  padding: 0; /*remove padding and margin on child elements */
  line-height: 1; /* Adjust line-height for text elements */
}

#subtitle{
  color: #808187; 
  font-size: 15pt;
}

/* About Info */

.homepagePanel{
  display: flex;
  width: 90%; 
  margin-left: 5%;  /* Add margin to the left */
  margin-right: 5%; /* Add margin to the right */
  justify-content: center;
  align-items: top;
  padding: 0;
  gap: 5px;
}

.image-fixed {
  width: 420px; /* 3:2 pixels width to height ratio */ 
  height: 600px;
}

.panelText{
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: top;
}

.bannerButton{
  display: flex;
  background-color: #fbf3d7; /* hex color code */
  color:#010000;
  height: 5vh;
  width: 10vw;
  align-items: center; /* centers items vertically */
  justify-content: center; /* centers items horizontally */
}

.bannerText{
  font-size: 15pt;
  line-height: 1.5;
  padding: 0;
  width: 70%;
  padding: 0;
}

h4{
  font-size: 30pt;
  padding: 0;
  white-space: nowrap;
  margin: 0;
}

h5{
  font-size: 18pt;
}

#aboutMeText{
  margin-top: -10px;
}

