body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* cuts off overflowing width*/
  overflow-y: auto;  /*gives scroll bar when scrolling-switch to scroll to turn off*/
  font-family: 'Inter', sans-serif;
  background-color: #fff8ea;
}

/*Header*/

.header{
  display: flex;
  position: sticky; /*sticks when scrolling */
  top: 0; /* Sticks to the top of the viewport when scrolled */
  justify-content: left; /* centers items horizontally */
  align-items: center;     /* centers items vertically */
  height: 10vh;           /* optional, to center items in full view height  or use px for pixels*/
  background-color: #f8eace;
  gap: 110vh;  /*gap between items in flexbox*/
  padding: 0 40px;
}

.bannerButtons{
  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center;     /* centers items vertically */
  gap: 7vh;  /*gap between items in flexbox*/
  padding: 0 40px;
}

.navLink{
  text-decoration: none;   /* removes default underline */
  color: #000;             /* or white if dark background */
  font-weight: 500;
  position: relative;      /* needed for underline animation */
  gap: 40vh;  /*gap between items in flexbox*/
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;            /* space below text */
  width: 0%;
  height: 2px;
  background-color: currentColor;  /* matches text color */
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

/* About Info */

.homepagePanel{
  display: flex;
  width: 90%; 
  height: 100%;
  margin-left: 5%;  /* Add margin to the left */
  margin-right: 5%; /* Add margin to the right */
  margin-bottom: 10%;
  margin-top: 2%;
  justify-content: center;
  align-items: top;
  padding: 30;
  gap: 60px;
}

.panelText{
  display: flex;
  flex-direction: column;
  padding: 10;
  align-items: top;
  width: 100%;
}

.panelImage{
  display: flex;
  margin-top: 4%;
  flex-direction: column;
  padding: 10;
  align-items: top;
}

.image-fixed {
  width: 360px; /* 3:2 pixels width to height ratio */ 
  height: 480px;
}

.bannerButton{
  padding: 10px 20px;
  background-color: #f8eace;   /* slightly different than background */
  color: #452f04;
  border: none;                /* removes border */
  border-radius: 8px;          /* subtle rounding */
  cursor: pointer;             /* pointer finger on hover */
  transition: background-color 0.2s ease;
  font-size: 16px;
}

.bannerButton:hover {
  background-color: #fdd893;   /* slightly lighter on hover */
}

h3{
  font-size: 30pt;
  color: #573c08;
}

h4{
  font-size: 22pt;
  padding: 0;
  white-space: nowrap;
  margin: 0;
}

h5{
  font-size: 18pt;
  color: #573c08;
}

#aboutMeText{
  margin-top: 10px;
  font-size: 15pt;
  line-height: 1.5;
  padding: 0;
  padding: 0;
  color: #573c08;;
}

#aboutMeTitle{
  margin-top: 5px;
  color: #573c08;;
}


/* ProjectPage Style */

.projectGrid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;   /* centers the whole grid */
  gap: 24px;
  max-width: 1200px;
  margin: 50px auto;
}

.projectCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  background-color: #dbc7a0;
  border-radius: 22px;
  overflow: hidden;
  padding: 28px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projectCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}

.projectCard img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 16px;
  margin-bottom: 28px;
}

.projectImageBox {
  width: 100%;
  height: 160px;          /* or use aspect-ratio below */
  border-radius: 14px;
  overflow: hidden;
}

.projectImageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /*  fills box */
  display: block;
}

.projectCard:active {
  transform: translateY(-1px);
}

.projectCardText h3 {
  font-size: 1.6rem;
  margin: 20px 0 20px 0;    /*margin: top right bottom left */
}

.projectCardText p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0 0 20px 0;
  color: #3f2b02
}

